# Dependencies
/node_modules

# Next
/.next
/out
.next/
dist/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb
